name: Simple Java Gradle app workflow

on:
  push:
    branches: ["master"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Install Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin' # temurin = open-jdk
          java-version: '21'
          cache: 'gradle' # cache the gradle dependencies to avoid downloading on each run

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Run unit app unit tests
        run: ./gradlew app:test
